body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#Problame
{
  margin-top: 5% ;
  margin-left: 10% ;
  margin-right: 25%;
  border-color: transparent;
  
}
#d
{
  border-color: transparent;
  background-color:transparent;
  color: black;
}
.d:hover
{
  background-color: blue;
}
#table
{

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  flex-wrap: wrap;
}